p:first-child {
    color: aquamarine;
}

p:last-child {
    color:blueviolet

}

p:not(.padrao){
    color: yellow;
}

p:nth-child(even) {
    color: red;
}
/* 
li:nth-child(n+2):nth-child(n+5)
 {
    color: burlywood
} */

li:nth-last-child(1) {
    color: crimson;
}

p:only-child {
    color: darkmagenta;
}