a {
    cursor: progress;
    margin: 20px;
    padding: 10px;
}

a:visited {
    color: red;
}

a:active {
    color: blue;
}

a:hover {
    background-color: beige;
    color: chartreuse;
}